
<!-- examiner_registration.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include your head content here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Include your styling here */
    </style>
</head>
<body>
    <div class="container">
        <div class="login-container bg-light p-4 rounded shadow">
            <h2 class="text-primary mb-4">Examiner Registration</h2>
            <form action="{% url 'admin_register' %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Username:</label>
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}">First Name:</label>
                    {{ form.first_name }}
                    {{ form.first_name.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
                    {{ form.last_name }}
                    {{ form.last_name.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.email.id_for_label }}">Email:</label>
                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password1.id_for_label }}">Password:</label>
                    {{ form.password1 }}
                    {{ form.password1.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
                    {{ form.password2 }}
                    {{ form.password2.errors }}
                </div>
                <div class="form-group">
                    <input type="hidden" name="user_type" value="examiner">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </form>
            <p class="register-link">Already have an account? <a href="{% url 'custom_login' %}">Login here</a></p>
        </div>
    </div>

    <!-- Include Bootstrap JS (Optional, for Bootstrap components that require JavaScript) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
