<!-- healthcare/templates/custom_register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Include your head content here -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Include your styling here */
    </style>
</head>
<body>
    <div class="container">
        <div class="login-container bg-light p-4 rounded shadow">
            <h2 class="text-primary mb-4">{% if user_type == 'admin' %}Admin{% else %}Patient{% endif %} Registration</h2>
            <form action="{% url 'register_user' user_type=user_type %}" method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </form>
            <p class="register-link">Already have an account? <a href="{% url 'custom_login' %}">Login here</a></p>
        </div>
    </div>

    <!-- Include Bootstrap JS (Optional, for Bootstrap components that require JavaScript) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
